
doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel="stylesheet" href="/build/style.css")
header.header
  .container
    .header-row
      a.logotype(href='/')
        .whitecircle
          .bluecircle
        .logotext
          span.logo LOGO
          span.type TYPE
      nav.menu
        ul
          li
            a.menu-item(href='#0') Menu 1
          li
            a.menu-item(href='#0')
              | Menu 2
              svg.arrow-down(viewbox='0 0 320 512' width='100')
                path(d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z')
          li
            a.menu-item(href='#0') Menu 3
      .basket
        img.basket-icon(alt='' src='https://img.icons8.com/material/480/shopping-cart--v1.png')
.wrapper
  main.main
    .banner
      img.banner-pic(alt='' src='https://assets.codepen.io/287054/internal/screenshots/pens/meLdeP.default.png?fit=cover&format=auto&ha=true&height=540&quality=75&v=2&version=1445955035&width=960')
    h1.main-title I Left The &ldquo;Grand Old Party&rdquo;
    h3.main-subtitle for Producers
    p.main-text
      | Last night, the unimaginable happened. Donald Trump became the presumptive Republican
      | nominee with his win in Indiana. His remaining rivals for the nomination, Ted Cruz and John Kasich, have
      | bowed out of the race, and the RNC is now treating him as the winner. Which means it&rsquo;s time for me to be
      | a
      | man and stick with my promise from back in August and March. It&rsquo;s time for this Republican to leave the
      | party.
    p.main-text
      | I explained in greater length back in March how I ended up a Republican in the first
      | place.
      | I have been a member of the Grand Old Party since I was in seventh grade. But now almost two decades
      | later,
      | I find myself no longer being able to convince myself to stay in it
    p.main-text
      | &hybull; The Republican Party I joined promoted fiscal responsibility, strong foreign policy
      | abroad, and individual liberty. The party that I&rsquo;ve seen of late is one that is none of that.
    p.main-text
      | &hybull; The Republican Party fought against slavery under Lincoln and fought the KKK under
      | Grant.
      | Now, it nominates a man who hesitates when confronted with support from the KKK and has manually
      | re-tweeted
      | racist and anti-Semitic accounts.
    p.main-text
      | I explained in greater length back in March how I ended up a Republican in the first
      | place.
      | I have been a member of the Grand Old Party since I was in seventh grade. But now almost two decades
      | later,
      | I find myself no longer being able to convince myself to stay in it
    p.main-text
      | 1. The Republican Party fought against slavery under Lincoln and fought the KKK under
      | Grant. Now, it nominates a man who hesitates when confronted with support from the KKK and has manually
      | re-tweeted racist and anti-Semitic accounts.
    p.main-text
      | 2. The Republican Party fought for the women&rsquo;s vote during the 1920 Presidential
      | election.
      | Now, it nominates a man who refers to them in obscene matters and cheats on them regularly.
    p.main-text
      | I explained in greater length back in March how I ended up a Republican in the first
      | place.
      | I have been a member of the Grand Old Party since I was in seventh grade. But now almost two decades
      | later,
      | I find myself no longer being able to convince myself to stay in it
      br
      br
      a(href='https://www.hotnewhiphop.com/download-24hrs-new-dj-drama-hosted-mixtape-12-am-in-atlanta-new-mixtape.117497.html')
        | https://www.hotnewhiphop.com/download-24hrs-new-dj-drama-hosted-mixtape-12-am-in-atlanta-new-mixtape.117497.html
    p.main-text
      | I explained in greater length back in March how I ended up a Republican in the first
      | place.
      | I have been a member of the Grand Old Party since I was in seventh grade. But now almost two decades
      | later,
      | I find myself no longer being able to convince myself to stay in it
    h3.main-subtitle for Producers
    h2.main-subtitle2 No fees from beat sale
    p.main-text
      | I explained in greater length back in March how I ended up a Republican in the first
      | place.
      | I have been a member of the Grand Old Party since I was in seventh grade. But now almost two decades
      | later,
      | I find myself no longer being able to convince myself to stay in it
    h2.main-subtitle2 No fees from beat sale
    p.main-text
      | I explained in greater length back in March how I ended up a Republican in the first
      | place.
      | I have been a member of the Grand Old Party since I was in seventh grade. But now almost two decades
      | later,
      | I find myself no longer being able to convince myself to stay in it
    table.table
      thead
        tr
          th Column 1
          th Column 2
          th Column 3
          th Column 4
      tbody
        tr
          td Something
          td Something
          td Something
          td Something
        tr
          td Something
          td Something
          td Something
          td Something
        tr
          td Something
          td Something
          td Something
          td Something
  aside
    .listing-row
      h3.listing-title Listing (32 043)
      div
        svg.arrow-left(viewbox='0 0 256 512' width='100')
          path(d='M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z')
        svg.arrow-right(viewbox='0 0 256 512' width='100')
          path(d='M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z')
    ul.listing-items
      li.listing-item
        a(href='')
          img(alt='' src='https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg')
        ul
          li.listing-name Game of Thrones, S03E01
          li.listing-autor by Norman Jefferson
          li.listing-info end up
      li.listing-item
        a(href='')
          img(alt='' src='https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg')
        ul
          li.listing-name Game of Thrones, S03E01
          li.listing-autor by Norman Jefferson
          li.listing-info end up
      li.listing-item
        a(href='')
          img(alt='' src='https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg')
        ul
          li.listing-name Game of Thrones, S03E01
          li.listing-autor by Norman Jefferson
          li.listing-info end up
      li.listing-item
        a(href='')
          img(alt='' src='https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg')
        ul
          li.listing-name Game of Thrones, S03E01
          li.listing-autor by Norman Jefferson
          li.listing-info end up
      li.listing-item
        a(href='')
          img(alt='' src='https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg')
        ul
          li.listing-name Game of Thrones, S03E01
          li.listing-autor by Norman Jefferson
          li.listing-info end up
      li.listing-item
        a(href='')
          img(alt='' src='https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg')
        ul
          li.listing-name Game of Thrones, S03E01
          li.listing-autor by Norman Jefferson
          li.listing-info end up
      li.listing-item
        a(href='')
          img(alt='' src='https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg')
        ul
          li.listing-name Game of Thrones, S03E01
          li.listing-autor by Norman Jefferson
          li.listing-info end up
      li.listing-item
        a(href='')
          img(alt='' src='https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg')
        ul
          li.listing-name Game of Thrones, S03E01
          li.listing-autor by Norman Jefferson
          li.listing-info end up
      li.listing-item
        a(href='')
          img(alt='' src='https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg')
        ul
          li.listing-name Game of Thrones, S03E01
          li.listing-autor by Norman Jefferson
          li.listing-info end up
      li.listing-item
        a(href='')
          img(alt='' src='https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg')
        ul
          li.listing-name Game of Thrones, S03E01
          li.listing-autor by Norman Jefferson
          li.listing-info end up
      li.listing-item
        a(href='')
          img(alt='' src='https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg')
        ul
          li.listing-name Game of Thrones, S03E01
          li.listing-autor by Norman Jefferson
          li.listing-info end up
      li.listing-item
        a(href='')
          img(alt='' src='https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg')
        ul
          li.listing-name Game of Thrones, S03E01
          li.listing-autor by Norman Jefferson
          li.listing-info end up
    .gradient-block
      h3.gradient-title Gradient
      .gradient1
      .gradient2
    .slider-block
      h3.slider-title Range Input
      .range-block
        label.range-title(for='range') Title
        input#range.range(type='range' name='range-color' min='0' max='15')
      .tabs-block
        h3.tabs-title TABS
        ul.tabs-menu
          li.tabs-menu-item Active tab
          li.tabs-menu-item Other tab
          li.tabs-menu-item Other tab 2
        ul.tabs-cards
          li.tabs-card
            a(href='')
              img(alt='' src='https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg')
            ul
              li.tabs-name Mixed Conditionals
              li.tabs-autor by Birdie Torres
          li.tabs-card
            a(href='')
              img(alt='' src='https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg')
            ul
              li.tabs-name Possibility and Certainty
              li.tabs-autor by Birdie Torres
          li.tabs-card
            a(href='')
              img(alt='' src='https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg')
            ul
              li.tabs-name Possibility and Certainty
              li.tabs-autor by Birdie Torres
          li.tabs-card
            a(href='')
              img(alt='' src='https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg')
            ul
              li.tabs-name Possibility and Certainty
              li.tabs-autor by Birdie Torres
          li.tabs-card
            a(href='')
              img(alt='' src='https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg')
            ul
              li.tabs-name Questions with Auxiliary Verbs
              li.tabs-autor by Birdie Torres
          li.tabs-card
            a(href='')
              img(alt='' src='https://netology-code.github.io/html-2-diploma/sources/images/last-post1.jpg')
            ul
              li.tabs-name Suggestions and Advice, Criticism and Regret
              li.tabs-autor by Birdie Torres
    h3.elements-title Elements
    .btns
      button.btn1 Button
      button.btn2 Button
      .container-power-btn
        input#option_on.custom-radio(type='radio' name='option' value='on' checked='')
        label.on(for='option_on')
          | ON
        input#option_off.custom-radio(type='radio' name='option' value='off')
        label.off(for='option_off') OFF
      .form-select
        select(name='choose something')
          option.choosing Choose something
          option(value='something') something
          option(value='something') something
          option(value='something') something
      div
        input#tooltip.tooltip_checkbox(type='checkbox')
        label.tooltip_label(for='tooltip')
          span.tooltip_text Tooltip
          span.tooltip_pseudo_checkbox
    .form-groups
      .form-group1
        p.warning
          | Your email address will not be published. Required fields are marked
          span.required *
        .form-group
          label.field-group-textarea
            span.field-label Your review
            span.required *
            textarea.field-textarea(placeholder='Your email address' required='')
        .form-group
          label.field-group1
            span.field-label Name
            span.required *
            input.field(placeholder='Your email address' required='')
          label.field-group2
            span.field-label Email
            span.required *
            input.field(type='email' placeholder='Your email address' required='')
        .notify_label
          label.notify_label
            input#notify.notify_text(type='checkbox' checked='')
            span.fake-checkbox
            | Notify me of new posts by email.
        .form-group.form-actions
          button.button_button-submit(type='submit') Submit
      .form-group2
        .widget-inst
          p.widget-text Instagram&rsquo;s widget
        .widget-soundcl
          p.widget-text SoundCloud&rsquo;s widget
  footer.footer
    .footer-text
      p.footer-info
        | While it was just a TV show, that little speech at the beginning of the original Star Trek show
        | really
        | did do a good job of capturing our feelings about space. It is those feelings that drive our love of
        | astronomy and our desire to learn more and more about it.
      p.copyright Test TRK &copy; 2017
    .footer-items
      ul
        li.terms-conditions-title Terms &amp; Conditions
        li.footer-item Privacy Policy
        li.footer-item Terms of Payment
        li.footer-item Terms of Service
    .support-title Contact Support
    .mail jermey.kling@yahoo.com
    .feeback Leave feeback
    .follow Follow
    .container-socials
      ul.socials
        li.socials-item
          a.socials-link.socials-link-facebook(href='#0')
            .social-circle
              span.socials-link-text-fb facebook
        li.socials-item
          a.socials-link.socials-link-google(href='#0')
            .social-circle
              span.socials-link-text-g google
        li.socials-item
          a.socials-link.socials-link-twitter(href='#0')
            .social-circle
              span.socials-link-text-tw twitter
